.common-padded-block {
  padding: 0 16px;
}

@media (min-width: 768px) {
  .common-padded-block {
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .common-padded-block {
    padding: 0 48px;
  }
}


