.lead__image {
  width: 100%;
}

@media (min-width: 1024px) {
  .lead__image {
    width: calc(100% - 48px*2);
  }
}

@media (min-width: 1280px) {
  .lead__image {
    width: calc(100% - 148px*2);
  }
}
