.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    margin: 0 0 24px 0;
  }
}
