.intro__title {
  font-size: 32px;
  line-height: 109%;
  font-weight: 900;
  margin: 0;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 107%;
    font-weight: 900;
  }
}
